{% extends "proj.base.html.twig" %}

{% block title %}Project kmom10 API{% endblock %}

{% block body %}
    <h1>Project Kmom10 API</h1>
    <form method="post" action="">
    <div class="wrapper">

    	<div class="wrapper-sidebar">
    	    <ul>
			    <li>
			        <input type="submit" name="do_it" value="api/proj/game"
						onClick="this.form.action='{{ path('api_proj_game') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="api/proj/deck"
						onClick="this.form.action='{{ path('api_proj_deck') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="api/proj/deck/shuffle"
						onClick="this.form.action='{{ path('api_proj_deck_shuffle') }}';this.form.method='post';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="api/proj/balance"
						onClick="this.form.action='{{ path('api_proj_balance') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="api/proj/balance/add/500"
						onClick="this.form.action='{{ path('api_proj_balance') }}/add/500';this.form.method='post';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="api/proj/get_bets"
						onClick="this.form.action='{{ path('api_proj_get_bets') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="api/proj/drawn_cards/"
						onClick="this.form.action='{{ path('api_proj_drawn_cards') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="/api/proj/stat/all"
						onClick="this.form.action='{{ path('api_proj_stat_all') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="/api/proj/stat/ranked"
						onClick="this.form.action='{{ path('api_proj_stat_ranked') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="/api/proj/stat/suited"
						onClick="this.form.action='{{ path('api_proj_stat_suited') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="/api/proj/gamelog"
						onClick="this.form.action='{{ path('api_proj_gamelog') }}';this.form.method='get';"
					>
			    </li>
			    <li>
			        <input type="submit" name="do_it" value="/api/proj/roundlog"
						onClick="this.form.action='{{ path('api_proj_roundlog') }}';this.form.method='get';"
					>
			    </li>
			</ul>
		</div>
    	<div class="wrapper-content">
			<ul>
			    <li>
					<input type="submit" name="do_it" value="api/proj/game"
						onClick="this.form.action='{{ path('api_proj_game') }}';this.form.method='get';"
					>
						(GET) api/proj/game/ visar upp den aktuella ställningen för kortspelet Black Jack i en JSON struktur.
				</li>
				<li>
					<input type="submit" name="do_it" value="api/proj/deck"
						onClick="this.form.action='{{ path('api_proj_deck') }}';this.form.method='get';"
					>
				 	(GET) api/proj/deck som returnerar en JSON struktur med alla kort (färg och värde) som finns på "Deck".
				</li>
				<li>
					<input type="submit" name="do_it" value="api/proj/deck/shuffle"
						onClick="this.form.action='{{ path('api_proj_deck_shuffle') }}';this.form.method='post';"
					>
					(POST) api/proj/deck/shuffle som blandar alla kort på "Deck" och därefter returnerar en JSON struktur med alla blandade kort.
				</li>
				<li>
					<input type="submit" name="do_it" value="api/proj/balance"
						onClick="this.form.action='{{ path('api_proj_balance') }}';this.form.method='get';"
					>
					(GET) api/proj/balance visar upp spelarens banksaldo i nuläget.
				</li>
				<li>
					<input type="submit" name="do_it" value="api/proj/balance/add/1000"
						onClick="this.form.action='{{ path('api_proj_balance') }}/add/1000';this.form.method='post';"
					>
					(POST) api/proj/balance/<integer> addar det inkommande heltal till spelarens bankkonto, och visar upp den nya saldon.
				</li>
				<li>
					<input type="submit" name="do_it" value="api/proj/get_bets"
						onClick="this.form.action='{{ path('api_proj_get_bets') }}';this.form.method='get';"
					>
					(GET) api/proj/get_bets visar upp spelarens satsningar på varje spelhand i en lista i JSON struktur.
				</li>
				<li>
					<input type="submit" name="do_it" value="api/proj/drawn_cards"
						onClick="this.form.action='{{ path('api_proj_drawn_cards') }}';this.form.method='get';"
					>
					(GET) api/proj/drawn_cards visar upp korten som redan är dragna av spelaren och datorn.
				</li>
				<li>
					<input type="submit" name="do_it" value="/api/proj/stat/all"
						onClick="this.form.action='{{ path('api_proj_stat_all') }}';this.form.method='get';"
					>
					(GET) api/proj/stat/all visar statistik av dragna kort.
				</li>
				<li>
					<input type="submit" name="do_it" value="/api/proj/stat/ranked"
						onClick="this.form.action='{{ path('api_proj_stat_ranked') }}';this.form.method='get';"
					>
					(GET) api/proj/stat/ranked visar statistik av dragna kort per "rank".
				</li>
				<li>
					<input type="submit" name="do_it" value="/api/proj/stat/suited"
						onClick="this.form.action='{{ path('api_proj_stat_suited') }}';this.form.method='get';"
					>
					(GET) api/proj/stat/ranked visar statistik av dragna kort per "suit".
				</li>
				<li>
					<input type="submit" name="do_it" value="/api/proj/gamelog"
						onClick="this.form.action='{{ path('api_proj_gamelog') }}';this.form.method='get';"
					>
					(GET) api/proj/gamelog visar loggad spel-tillfällen i databasen.
				</li>
				<li>
					<input type="submit" name="do_it" value="/api/proj/roundlog"
						onClick="this.form.action='{{ path('api_proj_roundlog') }}';this.form.method='get';"
					>
					(GET) api/proj/roundlog visar loggad spel-rundor av varje spel-tillfälle i databasen.
				</li>
			</ul>
    	</div>

	</div>
</form>
{% endblock %}
