{% extends "proj.base.html.twig" %}

{% block body %}

<h2>Spelare: {{ playerName }}, Balance: {{ playerBalance }}
	<form>
		<input type="submit" name="do_it" value="Stanna"
			onClick="this.form.action='/proj/player/stay';this.form.method='post';"
		>
	</form>
</h2>
{% for i in 0..numOfHands-1 %}
<div class="player">
    <h3>Hand {{ i }} - min/max: {{ playerMinSum[i] }}/{{ playerMaxSum[i] }}
		<form method="post" action="">
			<input type="text" name="hand_num" value="{{ i }}" readonly style="display:none;">
			<input type="submit" name="do_it" value="Dra Nytt Kort"
				onClick="this.form.action='/proj/player/draw';this.form.method='post';"
			>
	    </form>
	</h3>
	<p class="player">
		{% for card in playerHand[i] %}
			<i class="card-pic {{ card.getAsString }}"></i>
		{% endfor %}
	</p>
</div>
{% endfor %}

<h2>Bank, </h2> min/max: {{ bankMinSum }}/{{ bankMaxSum }}
    <p class="player">
		{% for card in bank %}
		    <i class="card-pic {{ card.getAsString }}"></i>
		{% endfor %}
    </p>
    
<h2>Card Deck</h2>
    <p class="deck">
		{% for card in deck %}
		    <i class="card-pic {{ card.getAsString }}"></i>
		{% endfor %}
    </p>
    
    {{ include('proj/flash.html.twig') }}
{% endblock %}

