{% extends "game.base.html.twig" %}

{% block body %}

<h2>Spelare: {{ playerName }}, Score: {{ playerScore }}</h2> min/max: {{ playerMinSum }}/{{ playerMaxSum }}
	<form method="post" action="">
		<input type="submit" name="do_it" value="Nästa Runda"
			onClick="this.form.action='/game/play';this.form.method='post';"
		>
		<input type="submit" name="do_it" value="Börja Om"
			onClick="this.form.action='/game/';this.form.method='get';"
		>
	</form>
    <p class="player">
		{% for card in player %}
		    <i class="card-pic {{ card.getAsString }}"></i>
		{% endfor %}
	</p>

<h2>Bank, Score: {{ bankScore }}</h2>min/max: {{ bankMinSum }}/{{ bankMaxSum }}
    <p class="player">
		{% for card in bank %}
		    <i class="card-pic {{ card.getAsString }}"></i>
		{% endfor %}
    </p>
<h2>Vinnare i den här rundan är: <span class="winner">{{who_win}}</span></h2>


    {{ include('game/flash.html.twig') }}
{% endblock %}

