{% extends "book.base.html.twig" %}

{% block title %}Library (Kmom05){% endblock %}

{% block body %}


<h1>Book Details<h1>
<form method="post">

		    <p>ID: {{ book.id }}</p>
		    <p>Title: {{ book.title }}</p>
		    <p>ISBN: {{ book.isbn }}</p>
		    <p>Author: {{ book.author }}</p>
		    <p>Image: {{ book.image }}</p>
		        <p>
		            <input type="submit" name="do_it" value="Update book"
		            	onClick="this.form.action='/library/update/{{ book.id }}';this.form.method='get';"
		            >
		            <input type="submit" name="do_it" value="Delete book"
		            	onClick="this.form.action='/library/delete/{{ book.id }}';this.form.method='post';"
		            >
		        </p>
</form>
<p>
</p>

{% endblock %}
